<h1>All Classes</h2>
<ul>
<% @classes.each do |school_class| %>
<li>
<%= link_to school_class.title + " in room " + school_class.room_number.to_s, school_class_path(school_class)%>
</li>
<% end %>
</ul>